@mixin border-radius($radius) {
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    -ms-border-radius:$radius;
    border-radius:$radius;
}

.box {
    @include border-radius(10px);
}

.circle {
    @include border-radius(50%);
}

@mixin respond-to($breakpoint) {
    @if $breakpoint == small {
        @media (max-width: 480px) {@content;}
    }
    @else if $breakpoint == medium {
        @media (max-width: 768px) {@content;}
    } 
}

.container {
    @include respond-to(small){
            width: 100%;
    }
}