$primary-color: #3498db;
$font-stack: 'Helvetica, Areal, Sans-serif';
$border-radius: 5px;

body {
    font-family: $font-stack;
    color: $primary-color;
}

.button {
    background-color: $primary-color;
    border-radius: $border-radius;
}