// _mixins.scss

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pointer  {
    cursor: pointer;
}

@mixin box_shadow {
    box-shadow: $bx_shadow_1;

}

@mixin containers{
    background-color: $bg_color_white;
    border-radius: $bd_radius;
    box-shadow: $bx_shadow;
}

@mixin button{
    font-weight: bold;
}