body {
    background: #F1F1F1;
    font-size: 18px;
    font-family: 'Inter';
}


/* 
-------------------------------------------------------------------
filter-page
-------------------------------------------------------------------
 */



.settings {
    font-weight:1000;
    font-size: 28px;
    margin: 30px 15px 15px 15px;
    color: #303030;
}

.container {
    margin: 15px;
}


.table {
    background-color: white;
    width: 100%;
    border-radius: 12px;
    text-align: left;
    margin: 15px 0;
    padding: 0px 5px;
    box-shadow: -2px 2px 5px rgb(204, 204, 204);
    border-collapse: collapse;
    border-color: 1px solid #b0b0b07e;
}


.status {
    padding: 5px 0;
}
.status div{
    display: inline;
    background-color: rgba(196, 196, 196, 0.3);
    padding: 3px 8px;
    border-radius: 13px;
    margin-left: 6px;
}

.st_active div{
    background-color: rgba(0, 250, 137, 0.349);
}

.table{
    td {
        border-top: 1px solid #b0b0b046;
    }
}


.trash, .pen:hover {
    cursor:pointer;
}

th, td {
    padding: 12px;
}



.menu {
    background-color: white;
    width: 100%;
    display:flex;
    margin: 15px 0px;
    border-radius: 8px;
    /* border-bottom-left-radius: 0;
    border-top-left-radius: 0; */
    box-shadow: -2px 2px 5px rgb(204, 204, 204);
}

.menu_button {
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}


.menu_button:hover {
    background-color: rgba(3, 110, 30, 0.61);
    color: #ffffff;
    cursor:pointer;
    transition: 0.24s;
}

.menu_button:active {
    background-color: rgba(7, 94, 66, 0.393);
    transition: 0;
}

.menu_radio:first-child + .menu_button {
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.menu_radio {
    display: none;
}

.menu_radio:checked + .menu_button {
    background-color: #000000;
    color: #fff;
}




/* 
-------------------------------------------------------------------
settings-page
-------------------------------------------------------------------
 */



.container1 {
    display: flex;
    padding: 20px;
    flex-direction: row;
}

.buttons {
    text-align: right;
    display: flex;
    gap: 8px;
    margin: 0 12px;
}

.link_to_pr {
    text-align: left;
    display: flex;
    flex: 1;
    font-size: 18px;
    margin: 0 15px;
    gap: 10px;
}
.text_input {
    max-width: 100%;
    background-color: white;
    border-radius: 18px;
    padding: 10px ;
    margin: 30px;
    margin-top: 0;
}

.text_i {
    border-collapse: collapse;
    border: 1px solid #a5a5a5 ;
    padding: 7px;
    border-radius: 12px;
}















.text_i_artice {
    color: #303030;
    font-size: 20px;
    font-family: 'Inter';
    margin: 0 0 10px 0;
}

.text_iii {
    width: 100%;
}

.discard, .create_formula, .save {
    font-size: 18px;
    font-family: 'Inter';
    font-weight: bold;
}

.discard {
    background-color: white;
    padding: 5px 12px;
    border-radius: 5px;
}
.discard:hover {
    background-color: #bef2ff;
    cursor: pointer;
}

.create_formula {
    background-color: rgb(27, 27, 27);
    padding: 5px 17px;
    border-radius: 15px;
    color: white;

}
.create_formula:hover {
    cursor: pointer;
}

.save {
    color: rgb(156, 156, 156);
    background-color: rgb(221, 221, 221);
    padding: 5px 8px;
    border-radius: 8px;
}
.save:hover {
    cursor: pointer;
}
.formulas {
    background-color: white;
    width: 700px;
    border-radius: 18px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 340px;
    justify-content: center;
    align-items: center;
}


.t_1 , .t_2 , .b_0 {
    font-family: 'Inter';
}

.t_1 {
    font-size: 22px;
    font-weight: bold ;
}

.t_2 {
    font-size: 14px;
}

.b_0 {
    background-color:#303030;
    color: white;
    font-weight: bold;
    padding: 6px;
    width: 32px;
    border-radius: 5px;
}

.image_0 {
    height: 190px;
}





.formulas_s {
    max-width: 100%;
    background-color: white;
    border-radius: 24px;
    margin: 17px 30px;
    height: 162px;
}

.table_formulas{
    width: 100%;
    padding: 8px;
    text-align: left;
}

.formulas_article {
    font-weight: bold;
    font-size: 24px;
}



/*--------------------------------------------------*/


.Formula_sq {
    background-color: white;
    width: 700px;
    padding: 28px 20px;
    border-radius: 12px;
    margin-left: 30px;
}

.arcticle_of_sq {
    margin-bottom: 5px;
}


.t_1_0 {
    margin-bottom: 11px;
}

.t_2_0 {
    margin-top: 4px;
    margin-bottom: 12px
}

.search_0 {
    border: 1px solid #a5a5a5 ;
    padding: 7px;
    border-radius: 12px;
    display: flex;
    gap: 7px;
}

.books_container {
    border: 1px solid #a5a5a5 ;
    padding: 12px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    margin-top:20px;
}


.book_content{
    display: flex;
    gap: 8px;
    padding: 15px;
    border-bottom: 1px solid #d3d3d3;
}


.book_icon{
    border-radius: 8px;
    border: 1px solid #d3d3d3 ;

}


.book_content_title{
    font-size: medium;
    font-weight: bold;
    align-self: center;
}

/* .book_content:last-child {
    border: none ;
} */

.books_content .book_content:last-child {
    border: none;
}

.book_save_button {
    display: flex;
    width: 100%;
    background-color: #303030;
    color: white;
    padding: 6px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.books_content{
    overflow: auto;
    max-height: 275px;
    margin: 10px 0;

}

.checkboxes_loser_ha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 12px;

}

.flex_0 {
    display: flex;
    align-items: flex-start;
    gap: 30px;


}
.search_0_1 {
    margin: 28px 8px;
    margin-bottom: 0;
}
.checkbox_square {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #d3d3d3;
    .book_content {
        border-bottom: none;
    }
}



.buttons_lol {
    width: 100%;
    display: flex;
    gap: 5px;
}

.book_cancel_button {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    color: black;
    padding: 6px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #d7d7d7;
}

.checkbox_square:last-child {
    border: none;
}

.flex_0_1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 30px;
}

.checkbox_some {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkbox_some .checkbox_square {
    padding-left: 36px;
    border: none;
}

.checkbox_some .checkbox_square:first-child {
    padding-left: 0;
}

.checkbox_some {
    border-bottom: 1px solid #d7d7d7;
}

.checkbox_some:last-child{
    border: none;
}

.checkbox_some .checkbox_square .book_content{
    padding: 8px;
}

.div_with_selected_checkbox {
    display: flex;
    gap: 10px;
    visibility:hidden;
}